 <div class="justify-content-between">
   <button  class="btn btn-light"  routerLink="doctor-details">All Doctors <br> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2Ek-NHRywUF19UdAZQ-kAj51ez3XvAO4WAA&usqp=CAU" alt=""></button>  
    <button  class="btn btn-light" routerLink="add-doctor">Add Doctor <br> <img src="https://t3.ftcdn.net/jpg/01/00/06/12/240_F_100061229_hvVo7l1ZjGKkaDKUIfuL3NuzOd4T8Xbf.jpg" alt=""></button>   
   <button  class="btn btn-light" routerLink="appointments" >Appointments <br> <img src="https://static.thenounproject.com/png/1072809-200.png" alt=""></button>   
</div>
 <router-outlet></router-outlet>
  
 