 <div class=" justify-content-between">
 <!-- <div> -->
    <button  class="btn btn-light" routerLink="add-doctor" (click)="doctorData()">Add Doctor <br> <img src="https://t3.ftcdn.net/jpg/01/00/06/12/240_F_100061229_hvVo7l1ZjGKkaDKUIfuL3NuzOd4T8Xbf.jpg" alt=""></button>   
 <!-- </div>

 <div> -->
   <button  class="btn btn-light" routerLink="add-doctor" (click)="doctorData()">Appointments <br> <img src="https://static.thenounproject.com/png/1072809-200.png" alt=""></button>   
<!-- </div> -->
</div>
 <router-outlet></router-outlet>

 <div class="d-flex justify-content-center" *ngIf="doctorsPass">
   <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Number</th>
          <th scope="col">Email</th>
          <th scope="col">Department</th>
          
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let doctor of allDoctors">
            <td >{{doctor.name}}</td>
            <td>{{doctor.number}}</td>
            <td>{{doctor.mail}}</td>
            <td>{{doctor.department}}</td>
             
         </tr>
      </tbody>
    </table>
 </div>