<mat-dialog-content  [formGroup]="form">
    <div>
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="name" formControlName ="firstName" required>
                    <mat-error *ngIf="form.get('name')?.invalid || form.get('name')?.dirty || form.get('name')?.touched ">Enter valid name</mat-error>
                  </mat-form-field>
                </mat-grid-tile>
    
               
                <mat-grid-tile>
    
                  
                  
                    <mat-form-field>
                      <mat-label>Phone :</mat-label>
                      <input matInput placeholder="Phone" formControlName="ph" required>
                      
                    <mat-error *ngIf="form.get('phone')?.invalid || form.get('phone')?.dirty || form.get('phone')?.touched ">Enter valid Phone Number</mat-error>
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                      <mat-label>Time</mat-label>
                      <select matNativeControl formControlName="time" #required>
                        <option value="time" *ngFor="let a of TIME" [disabled]="isDisableTime(a,date)">{{a}}</option>
                        
                      </select>
                      <mat-error *ngIf=" form.get('time')?.touched ">Select Valid Option</mat-error>
                    </mat-form-field>
              
              </mat-grid-tile>
    
              <mat-grid-tile>
              <mat-form-field>
                <mat-label>Date :</mat-label>
                <input matInput type="date" placeholder="Enter Date" formControlName="date" #required>
                
              <mat-error *ngIf="form.get('date')?.invalid || form.get('date')?.dirty || form.get('date')?.touched ">Enter date</mat-error>
              </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile>
    
                  
                  
            <mat-form-field>
              <mat-label>Gender:</mat-label>
              <select matNativeControl formControlName="gender" #required>
                <option value="Male" >Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>   
              </select>
            <mat-error *ngIf="form.get('gender')?.invalid || form.get('gender')?.dirty || form.get('gender')?.touched ">Enter valid Phone Number</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>

                <mat-form-field appearance="fill">
                  <mat-label>Doctor</mat-label>
                  <select matNativeControl formControlName="doctorName" #required>
                    <option value="{{a.name}}" *ngFor="let a of dashboard.doctorData">{{a.name}}</option>
                    
                  </select>
                  <mat-error *ngIf=" form.get('doctor')?.touched ">Select Valid Option</mat-error>
                </mat-form-field>
          
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>ID :</mat-label>
            <input matInput placeholder="ID" formControlName="id" #required>
          </mat-form-field>
          </mat-grid-tile>



            </mat-grid-list>
          </div>
             
          </mat-dialog-content>

          <div mat-dialog-actions>
            <button mat-button mat-dialog-close cdkFocusInitial (click)="close()" class="btn p-2 m-2 btn-primary">Cancle</button>
            <button mat-button mat-dialog-close [disabled]="form.invalid" (click)="update()" class="btn p-2 m-2 btn-success">Update</button>
          </div>