.main{
    text-align: center;
    margin-top: 100px;
    padding:90px;

}
.back_img{
background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-technology-technology-health-doctors-image_10060.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 1000px;

}
.login:hover{
color:red
}

.img-fluid{
    height: 100%;
}
.reg{
    text-decoration: none;
}
.img1{
    border-radius: 10px;
    padding-right: 20px;
}
.register{
    font-style: italic;
}