
<div class="patient mt-2">
    <div class="body">
      <section class="h-50  gradient-custom-2">
        <div class="container py-3 h-50">
          <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col-9">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  
                  <form [formGroup]="register" (ngSubmit)="onSub()">
                    <div class="row g-0">
                      <div class="col-lg-6">
                        <div class="p-3">
                          <h3 class="fw-normal mb-3" style="color: #4835d4;">Patient Infomation</h3>
  
  
  
                          <div class="mb-2 pb-1">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>Title</option>
                              <option value="Mr" class="lead">Mr</option>
                              <option value="Miss" class="lead">Miss</option>
                              <option value="Mrs" class="lead">Mrs</option>
                            </select>
                          </div>
  
  
  
  
  
                          <div class="row">
                            <div class="col-md-6 mb-2 pb-1">
  
                              <div class="form-outline">
                                <input type="text" id="form3Examplev2" name="firstName"
                                  class="form-control form-control-lg" formControlName="firstName" />
                                <label class="form-label" for="form3Examplev2">First name</label>
                              </div>
  
                            </div>
                            <div class="col-md-6 mb-2 pb-1">
  
                              <div class="form-outline">
                                <input type="text" id="form3Examplev3" name="lastName"
                                  class="form-control form-control-lg" formControlName="lastName" />
                                <label class="form-label" for="form3Examplev3">Last name</label>
                              </div>
  
                            </div>
                            <div class="col-md-6 mb-2 pb-1 form-outline">
                              <input type="number" id="form3Examplev3" name="age" class="form-control form-control-lg"
                                formControlName="age" />
                              <label class="form-label" for="form3Examplev3">Age</label>
                            </div>
                          </div>
  
  
  
                          <div class="mb-2 pb-1">
                            <select class="form-select" aria-label="Default select example" name="gender"
                              formControlName="gender">
                              <!-- <option selected>Gender</option> -->
                              <option value="Male" class="lead">Male</option>
                              <option value="Female" class="lead">Female</option>
                              <option value="Others" class="lead">Others</option>
                            </select>
                            <label class="form-label" for="form3Examplea3">Gender</label>
  
                          </div>
  
                          <div class="mb-2 pb-1">
                            <div class="form-outline">
                              <input type="number" name="ph" class="form-control form-control-lg" formControlName="ph"/>
  
                              <label class="form-label">Contact no</label>
                            </div>
                          </div>
  
                          <div class="mb-2">
                            <div class="form-outline form-white">
                              <input type="email" id="form3Examplea9" class="form-control form-control-lg" name="email"
                                formControlName="email" />
                              <label class="form-label" for="form3Examplea9">Email</label>
                            </div>
                          </div>
  
  
                          <div class="row">
                            <div class=" mb-2 pb-1 mb-md-0 pb-md-0">
  
                              <div class="form-outline ">
                                <input type="text" id="form3Examplev5" class="form-control form-control-lg" name="address"
                                  formControlName="address" />
                                <label class="form-label" for="form3Examplev5">Address</label>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                      <!-- end of form 1 -->
                      <div class="col-lg-6 bg-indigo text-white">
                        <div class="p-3">
                          <h3 class="fw-normal mb-3">Doctor Details</h3>
  
                          <!-- <div class="mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input type="text" id="form3Examplea2" class="form-control form-control-lg" name="doctorName" formControlName="doctorName" />
                          <label class="form-label" for="form3Examplea2">Doctorname</label>
                        </div>
                      </div> -->
                          <div class="mb-2 pb-1">
                            <select class=" form-control form-control-lg form-select" #doctor
                              aria-label="Default select example" name="specilist" formControlName="specilist">
                              <option value="Specilist" class="lead" selected>Select</option>
                              <option value="Specilist" class="lead" selected>Praveen</option>
  
                              <option value="Cardiologist" class="lead">Cardiologist</option>
                              <option value="Orthopedics" class="lead">Orthopedics</option>
                              <option value="Obstetrics and Gynecology" class="lead">Obstetrics and Gynecology</option>
                              <option value="Dermatology" class="lead">Dermatology</option>
                              <option value="Dermatology" class="lead">Pediatrics</option>
                              <option value="Radiology" class="lead">Radiology</option>
                              <option value="Ophthalmology" class="lead">Ophthalmology</option>
                            </select>
                            <label class="form-label" for="form3Examplea3">DoctorName</label>
                          </div>
  
  
                          <div class="mb-2 pb-1">
                            <select class=" form-control form-control-lg" name="specilist" formControlName="specilist">
                              <option class="lead" *ngFor="let a of specilist">{{a}}</option>
                            </select>
  
                            <label class="form-label" for="form3Examplea3">Specilist</label>
  
                          </div>
  
  
  
  
                          <div class="mb-2 pb-1">
                            <div class="form-outline form-white">
                              <input type="date" id="form3Examplea3" #date class="form-control form-control-lg"
                                name="date" formControlName="date" min="{{appointmentStartDate|date:'yyyy-MM-dd'}}" />
                              <label class="form-label" for="form3Examplea3">Appointment Date</label>
                            </div>
                          </div>
  
                          <div class="mb-2 pb-1">
  
                            <select class="form-control form-control-lg" formControlName="time" name="time">
                              <option  *ngFor="let time of TIME" [value]="time" [disabled]="isDisableTime(time)">{{time}}</option>
                              <!-- <option class="lead" *ngFor='let time of timeSlot'>
                                {{time}}
                              </option> -->
                            </select>
  
  
  
                            <select class="form-control form-control-lg" formControlName="time" name="time">
                              <option class="lead" *ngFor='let time of timeSlot'>
                                <ng-container *ngIf="this.slottime.includes({date:'hghg',doctorName:'jjjjj'});else con">
                                  <span>
                                {{time}}kl
                                </span>
                                </ng-container>
                                <ng-template #con>{{time}}kk</ng-template>
                              </option>
                            </select>
                            <label class="form-label" for="form3Examplea3">Time slot</label>
                          </div>
  
                           
                          <div class="mb-2">
                            <div class="form-outline form-white">
                              <input type="email" id="form3Examplea9" class="form-control form-control-lg"
                                name="doctorEmail" formControlName="doctorEmail" />
                              <label class="form-label" for="form3Examplea9">Your Email</label>
                            </div>
                          </div>
  
                          <!-- <div class="form-check d-flex justify-content-start mb-4 pb-3">
                            <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c"
                              name="title" />
                            <label class="form-check-label text-white" for="form2Example3">
                              I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                              site.
                            </label>
                          </div> -->
  
                          <button type="button" class="btn btn-light btn-outline-success btn-warning"
                            data-mdb-ripple-color="dark" (click)="onSub()" routerLink="/dashboard">Submit</button>
  
                          <button type="button" class="btn btn-light btn-outline-danger btn-warning"
                            style="margin-left: 8px;" data-mdb-ripple-color="dark" (click)="onsub1()">cancel</button>
  
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
