<h1 style="margin-left:280px;
margin-top:50px;
font-weight: 700;">Appointment details</h1>
<div class="d-flex justify-content-center btn">
    <table class="table details ">
       <thead>
         <tr style="backgroundColor: rgb(145, 203, 221);font-weight: 700;">
           <th scope="col">Name</th>
           <th scope="col">Number</th>
           <th scope="col">Email</th>
           <th scope="col">Department</th>
         </tr>
       </thead>
       <tbody>
          <tr *ngFor="let doctor of allDoctors">  
             <td >{{doctor.name}}</td>
             <td>{{doctor.number}}</td>
             <td>{{doctor.mail}}</td>
             <td>{{doctor.department}}</td>
          </tr>
       </tbody>
     </table>
   </div>