<div class="d-flex" style="margin-left: 270px;margin-top: 30px;">
    <label for="doctor" class="form-label">Select Doctor: </label>
    <select style="width: 250px;" #doctor class="form-select" name="doctor">
        <option *ngFor="let doctor of allDoctors" [value]="doctor.name">{{doctor.name}}</option>
    </select>
    <button type="button" class="btn btn-light" (click)="onFetchAppointments()">search</button>
</div>

 
<!-- 
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Doctor</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of allAppointments">
                <ng-container *ngIf="appointment.doctorName===doctor.value">
                    <td>{{appointment.firstName}}</td>
                    <td>{{appointment.age}}</td>
                    <td>{{appointment.gender}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time}}</td>
                    <td>{{appointment.doctorName}}</td>
                    <td>
                        <div *ngIf="appointment.btn">
                            <button type="button" class="btn btn-light"
                                (click)="onCanceleAppointment(appointment)">Cancel</button>
                        </div>
                        <div *ngIf="!appointment.btn">
                            <button type="button" class="btn btn-danger" disabled>Canceled</button>
                        </div>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
  
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
  
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <ng-container matColumnDef="doctorName">
        <th mat-header-cell *matHeaderCellDef> Doctor </th>
        <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator [pageSizeOptions]="[3, 5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  
  