
.mat-table {
  font-family: initial;
} 

.filter {
  margin-left: 270px;
  margin-top: 50px;
}

.table {
   border: 1px solid black;
  width: 1000px;
  margin-left: 270px;
  margin-top: 80px;
}

table {
 width:100%;
 
}