
.filter {
  margin-left:300px;
  margin-top: 50px;
  font-weight: 700;
  /* font-size: larger; */
}
 

table {
   
   width: 78%;
  margin-left: 20%;
  margin-top: 80px;
  align-items: center;
  border: 1px solid black;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.flex{
  flex: 1 1 auto;
}

.mat-header-cell{
  font-size: 14px;
  font-weight:800px;
  background-color: rgb(145, 203, 221);
  text-align: center;

}

.mat-cell{
  text-align: center;
}
#name{
  font-size: larger;
  font-weight: 700;
  color: black;
}