
<!-- <div class="add">
    <img src="https://image.shutterstock.com/image-vector/medical-volunteer-long-shadow-icon-260nw-379459084.jpg">
    <a (click)="add()" margin-top="10px">Add-patient</a>

</div> -->
 
<div class="add">
  <button class="btn btn-light "  (click)="add()" *ngIf="addpatient" style="border-radius: 3px;"><img src="https://image.shutterstock.com/image-vector/medical-volunteer-long-shadow-icon-260nw-379459084.jpg" alt="" width="150px" >
    <br > 
   <p style="font-weight:900;"  >Add-Patient </p> </button>   
</div>