<!-- <header class="header" id="header">
 <nav class="slidenav">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
     <span style="background-color: rgb(63, 63, 250);">Hosiptal-Managment</span>
</nav>
</header> -->
<div class="imag">
<nav class="navbar  dashboard ">
<h1 class="navbar-brand  text-center" style="color: rgb(246, 246, 247);font-weight:bolder; text-shadow: 1px 1px 2px rgb(243, 243, 243), 0 0 25px rgb(196, 196, 243), 0 0 5px rgb(42, 42, 51);">Hosiptal-Managment</h1>
  </nav></div>