<div class="add">
  <div routerLink="add-patient"> <button class="btn btn-light "  style="border-radius: 3px;"><img
        src="https://image.shutterstock.com/image-vector/medical-volunteer-long-shadow-icon-260nw-379459084.jpg" alt=""
        width="150px">
      <br>
      <p style="font-weight:900;">Add-Patient </p>
    </button></div>
</div>

<div class="add">
  <label style="font-weight:700;font-size: larger;">Filter Date: </label>
  <input type="date" #start min="{{minDate|date:'yyyy-MM-dd'}}" (input)="dateFilter(start.value,end.value)" style="width:200px;height:30px;font-weight: 600;border-width:5px;">
  <input type="date" #end min="{{minDate|date:'yyyy-MM-dd'}}" (input)="dateFilter(start.value,end.value) " style="width:200px;height:30px;font-weight: 600;border-width:5px;margin-left: 10px;">
</div>
<div class="add">
  <div class="details">
    <router-outlet></router-outlet>

  
         <div class="add1" *ngIf="showFilterTable" >
      <table class="table table-hover table-bordered "id="escalation">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Phno</th>
          <th scope="col">Mail</th>
          <th scope="col">Consultant Doctor</th>
          <th scope="col">Appointment Date</th>
          <th scope="col">Appointment Time</th>
          <th scope="col">Status</th>

      
        </tr>
      </thead>
        <tbody>
         <tr *ngFor="let a of datefil;index as i">
           <th scope="row" class="font-weight-light">{{i+1}}</th>
           <td class=" font-weight-light">{{a.firstName+" "+a.lastName | titlecase}}</td>
           <td class=" font-weight-light">{{a.age}}</td>
           <td class=" font-weight-light">{{a.gender}}</td>
           <td class="font-weight-light">{{a.ph}}</td>
           <td class="font-weight-light">{{a.email}}</td>
           <td class="font-weight-light">{{a.doctorName | titlecase}}</td>
           <td class="font-weight-light">{{a.date}}</td>
           <td class="font-weight-light">{{a.time}}</td>
           <td class="font-weight-light">{{a.status | titlecase}}</td>

          <td> <button class="btn btn-pill btn-warning" (click)="cancelAppointment(a.id)"> Cancel</button></td>

     </tr>
     </tbody>
     </table>
   
    </div>
    </div>
  </div>


<div class="mat-elevation" *ngIf="showAllDataTable">
  <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef id="name"> Name </th>
          <td mat-cell *matCellDef="let element" id="name1"> {{element.firstName |titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef id="name" > Age </th>
        <td mat-cell *matCellDef="let element" id="name1"> {{element.age}} </td>
    </ng-container>

      <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef id="name"> Gender </th>
          <td mat-cell *matCellDef="let element" id="name1"> {{element.gender |titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="phno">
        <th mat-header-cell *matHeaderCellDef id="name">Phone No.</th>
        <td mat-cell *matCellDef="let element" id="name1"> {{element.ph}} </td>
    </ng-container>

      <ng-container matColumnDef="doctorName">
          <th mat-header-cell *matHeaderCellDef id="name"> Consultant Doctor </th>
          <td mat-cell *matCellDef="let element" id="name1"> {{element.doctorName |titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef id="name">Appointment Date</th>
        <td mat-cell *matCellDef="let element" id="name1"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef id="name">Status</th>
      <td mat-cell *matCellDef="let element" ><h4 class="badge badge-pill badge-primary mt-2"> {{element.status |titlecase}}</h4> </td>
  </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef id="name"> Appointment Time </th>
        <td mat-cell *matCellDef="let element" id="name1"> {{element.time}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="name"> Action </th>
      <td mat-cell *matCellDef="let row">  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateAppointment(row)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="cancelAppointment(row)" >
          <mat-icon>cancel</mat-icon>
          <span>Cancel</span>
        </button>
      </mat-menu>
       </td>
    </ng-container>

    
  


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 1 ,3, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
