

    <div class="add" >
      <div> <button class="btn btn-light " routerLink="add-patient"   style="border-radius: 3px;"><img src="https://image.shutterstock.com/image-vector/medical-volunteer-long-shadow-icon-260nw-379459084.jpg" alt="" width="150px" >
         <br > 
        <p style="font-weight:900;">Add-Patient </p> </button></div>  
    </div>
     
      <div class="add">
     <h2>filter date</h2>
         <input type="date" #start min="{{minDate|date:'yyyy-MM-dd'}}">
         <input type="date" #end min="{{minDate|date:'yyyy-MM-dd'}}"  (input)="dateFilter()">  
     </div>

     <div class="add">
     <!-- <app-update-data></app-update-data> -->
     <div  class="details">
     <!-- <app-patient [updatingPatientData]="patientData"></app-patient> -->
<router-outlet></router-outlet>
 
     </div>

     <div *ngFor="let a of dashboardService.patientData | filterByDate:start.value:end"></div>
    </div>
        <div class="add" *ngIf="showFilterTable">
     <table class="table table-hover table-bordered" id="escalation" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Phno</th>
          <th scope="col">Mail</th>
          <th scope="col">Consultant Doctor</th>
          <th scope="col">Appointment Date</th>
          <th scope="col">Appointment Time</th>
      
        </tr>
      </thead>
        <tbody>
         <tr *ngFor="let a of datefil;index as i">
           <th scope="row" class="font-weight-light">{{i+1}}</th>
           <td class=" font-weight-light">{{a.firstName+" "+a.lastName}}</td>
           <td class=" font-weight-light">{{a.age}}</td>
           <td class=" font-weight-light">{{a.gender}}</td>
           <td class="font-weight-light">{{a.ph}}</td>
           <td class="font-weight-light">{{a.email}}</td>
           <td class="font-weight-light">{{a.doctorName}}</td>
           <td class="font-weight-light">{{a.date}}</td>
           <td class="font-weight-light">{{a.time}}</td>
          <td> <button class="btn btn-pill btn-warning" (click)="cancelAppointment(a.id)"> Cancel</button></td>

     </tr>
     </tbody>
     </table>
        </div> 

     
        <h5 style="font-weight:780;" >Appointment- Details</h5>
        
     <table class="table table-hover add table-bordered" *ngIf="showAllDataTable" id="escalation"  >
       <thead >
         <tr>
           <th scope="col">#</th>
           <th scope="col">Name</th>
           <th scope="col">Age</th>
           <th scope="col">Gender</th>
           <th scope="col">Phno</th>
           <th scope="col">Mail</th>
           <th scope="col">Consultant Doctor</th>
           <th scope="col">Appointment Date</th>
           <th scope="col">Appointment Time</th>
     
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let a of dashboardService.patientData;index as i">
                   <th scope="row" class="font-weight-light">{{i+1}}</th>
                   <td class=" font-weight-light">{{a.firstName+" "+a.lastName}}</td>
                   <td class=" font-weight-light">{{a.age}}</td>
                   <td class=" font-weight-light">{{a.gender}}</td>
                   <td class="font-weight-light">{{a.ph}}</td>
                   <td class="font-weight-light">{{a.email}}</td>
                   <td class="font-weight-light">{{a.doctorName}}</td>
                   <td class="font-weight-light">{{a.date}}</td>
                  <td class="font-weight-light">{{a.time}}</td>
                  <!-- <td class="font-weight-light">{{a.id}}</td> -->
                  <td> <button class="btn btn-pill btn-warning" (click)="cancelAppointment(a.id)"> Cancel</button></td>
                  <!-- <td> <button class="btn btn-pill btn-warning" (click)="updateAppointment(a)"> Edit</button></td> -->

         </tr>
         
       </tbody>
     </table>
     

     
      <h5 style="font-weight:780;">Appointment- Details</h5>
    
     
     <!-- <div class="mat-elevation-z8">
       <table mat-table [dataSource]="dataSource">
     
         <ng-container matColumnDef="firstName">
           <th mat-header-cell *matHeaderCellDef> First Name </th>
           <td mat-cell *matCellDef="let ele"> {{ele.firstName+" "+ele.lastName}} </td>
         </ng-container>
     
         <ng-container matColumnDef="gender">
           <th mat-header-cell *matHeaderCellDef> Gender </th>
           <td mat-cell *matCellDef="let element"> {{element.age}} </td>
         </ng-container>
     
         <ng-container matColumnDef="age">
           <th mat-header-cell *matHeaderCellDef> Age </th>
           <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
         </ng-container>
     
         <ng-container matColumnDef="time">
           <th mat-header-cell *matHeaderCellDef> Time </th>
           <td mat-cell *matCellDef="let element"> {{element.ph}} </td>
         </ng-container>
     
         <ng-container matColumnDef="doctorName">
           <th mat-header-cell *matHeaderCellDef> Doctor </th>
           <td mat-cell *matCellDef="let element"> {{element.email}} </td>
         </ng-container>
     
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
     
       <mat-paginator #paginator [pageSizeOptions]="[3, 5, 10, 20]"
                      showFirstLastButtons>
       </mat-paginator>
     </div> -->

     <!-- <script>
   $(document).ready(function () {
      $('#escalation').DataTable();
    }); 
</script> -->

<!-- <table id="example1" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Age</th>
      <th>Start date</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tiger Nixon</td>
      <td>System Architect</td>
      <td>Edinburgh</td>
      <td>61</td>
      <td>2011-04-25</td>
      <td>$320,800</td>
    </tr>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Age</th>
      <th>Start date</th>
      <th>Salary</th>
    </tr>
  </tfoot>
</table>

<script>$(document).ready(function () {
    $('#example1').DataTable();
  });</script>

 -->




  


