    <div class="add" >
      <div> <button class="btn btn-light " routerLink="add-patient"   style="border-radius: 3px;"><img src="https://image.shutterstock.com/image-vector/medical-volunteer-long-shadow-icon-260nw-379459084.jpg" alt="" width="150px" >
         <br > 
        <p style="font-weight:900;">Add-Patient </p> </button></div>  
    </div>
     
      <div class="add">
     <h2>Filter date</h2>
         <input type="date" class="p-2 m-2" #start min="{{minDate|date:'yyyy-MM-dd'}}" (input)="dateFilter(start.value,end.value)">
         <input type="date" class="p-2 m-2" #end min="{{minDate|date:'yyyy-MM-dd'}}"  (input)="dateFilter(start.value,end.value)">  
     </div>
     <div class="add">
     <!-- <app-update-data></app-update-data> -->
     <div  class="details">
     <!-- <app-patient [updatingPatientData]="patientData"></app-patient> -->
<router-outlet></router-outlet>
 
     </div>
    </div>
     
<div class="add" *ngIf="showFilterTable">
  <table class="table table-hover table-bordered" id="escalation">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Phno</th>
        <th scope="col">Mail</th>
        <th scope="col">Consultant Doctor</th>
        <th scope="col">Appointment Date</th>
        <th scope="col">Appointment Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of datefil;index as i">
        <th scope="row" class="font-weight-light">{{i+1}}</th>
        <td class=" font-weight-light">{{a.firstName+" "+a.lastName}}</td>
        <td class=" font-weight-light">{{a.age}}</td>
        <td class=" font-weight-light">{{a.gender}}</td>
        <td class="font-weight-light">{{a.ph}}</td>
        <td class="font-weight-light">{{a.email}}</td>
        <td class="font-weight-light">{{a.doctorName}}</td>
        <td class="font-weight-light">{{a.date}}</td>
        <td class="font-weight-light">{{a.time}}</td>
        <td class="font-weight-light">{{a.status}}</td>

        <td> <button class="btn btn-pill btn-warning" (click)="cancelAppointment(a.id)"> Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>

<h5 style="font-weight:780;">Appointment- Details</h5>


<div class="mat-elevation" *ngIf="showAllDataTable">
  <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

      <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="phno">
        <th mat-header-cell *matHeaderCellDef>Phone No.</th>
        <td mat-cell *matCellDef="let element"> {{element.ph}} </td>
    </ng-container>

      <ng-container matColumnDef="doctorName">
          <th mat-header-cell *matHeaderCellDef> Consultant Doctor </th>
          <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Appointment Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Appointment Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3, 1 ,5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
