<div>
  <div class="l-navbar" id="nav-bar">
      <nav class="nav" style="width:250px;padding-right:80px;">
          <div><a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name"
                      style="padding-top:80px">Dashboard</span></a>
              <div class="nav_list">
                  <div class="doctor">
                      <a class="nav_link active"><img
                              src="https://thumbs.dreamstime.com/z/medical-team-icon-male-female-doctor-symbols-medical-team-icon-male-female-doctor-symbols-flat-style-vector-eps-157851279.jpg"
                              style="width:60px;">
                          <span class="nav_name" style="font-weight:500; font-size: larger;" routerLink="doctor">Doctor</span> </a>
                  </div>
                  <div class="patience">
                      <a class="nav_link"><img
                              src="https://img.favpng.com/17/12/10/patient-icon-healthcare-icon-medical-icon-vVipqRtL_t.jpg "
                              style="width:60px;">
                          <span class="nav_name" style="font-weight:500; font-size: larger;" (click)="add1()">patient</span> </a>
                  </div>
              </div>
          </div>
      </nav>
   </div> 
   
  
  
<app-sildebar ></app-sildebar>
<div *ngIf="addpatient">
<div class="add" >
 <div> <button class="btn btn-light " (click)="add()"   style="border-radius: 3px;"><img src="https://image.shutterstock.com/image-vector/medical-volunteer-long-shadow-icon-260nw-379459084.jpg" alt="" width="150px" >
    <br > 
   <p style="font-weight:900;">Add-Patient </p> </button></div>  
   <h5 style="font-weight:780;" >Appointment- Details</h5>
</div>
<div class="add1" >
<table class="table table-hover "  >
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Phno</th>
      <th scope="col">Mail</th>
      <th scope="col">Consultant Doctor</th>
      <th scope="col">Appointment Date</th>
      <th scope="col">Appointment Time</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of dashboardService.patientData;index as i">
              <th scope="row" class="font-weight-light">{{i+1}}</th>
              <td class=" font-weight-light">{{a.firstName+" "+a.lastName}}</td>
              <td class=" font-weight-light">{{a.age}}</td>
              <td class=" font-weight-light">{{a.gender}}</td>
              <td class="font-weight-light">{{a.ph}}</td>
              <td class="font-weight-light">{{a.email}}</td>
              <td class="font-weight-light">{{a.doctorName}}</td>
              <td class="font-weight-light">{{a.date}}</td>
              <td class="font-weight-light">{{a.time}}</td>

    </tr>
  </tbody>
</table>

</div>
</div>
<router-outlet></router-outlet>